<span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="logout" href="/coming_soon">Logout</a>
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/coming_soon">Sign Up</a> 
          <!--<a class="nav-item nav-link" id="leaderboard" href="/leaderboard">Leaderboard</a>-->
        </div>
      </div>
    </nav>
    <title>Coming Soon</title>
<center>
    <h1><b>Coming Soon</b></h1> 
</center>
