<span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="home" href="/">Home</a>
          <a class="nav-item nav-link" id="logout" href="/coming_soon">Logout</a>
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/coming_soon">Sign Up</a> 
          <!--<a class="nav-item nav-link" id="leaderboard" href="/leaderboard">Leaderboard</a>-->
        </div>
      </div>
    </nav>
    <title>Mental Math</title>
<center>
<body>
<h1 style="color:rgb(255, 255, 255);" font-family:Verdana;><span id="eq" style=font-size:100px></span></h1>
<form id="btn01">
    <input type="number" id="answer" STYLE="color: rgb(255, 255, 255);background-color: rgb(128, 128, 128);" >
    <button style="margin: 5px;" class="button button1" type="button" id = "z"  onclick="handler(event)">Submit</button>
    <style>
        .button {
          border-radius: 100px;
          border: 4px solid rgb(	126, 221, 210);
          padding: 10px; 
          width: 250px;
          height: 100px; 
          background-color: rgb(88, 88, 88); 
          color: rgb(255, 255, 255);  
        } 
        .button {
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 30px;
        }
        .button:hover {
          background-color: rgb(156, 156, 156);
        }
        </style>
</form>
<h1 style="color:rgb(255, 255, 255);" style=font-size:100px><span id="f"></span></h1>
<h1 style="color:rgb(255, 255, 255);" style=font-size:100px><span id="q"></span></h1>
</center>

<script>
const duration = 60000
const end = Date.now()+duration

let correct = 0
let error = 0
let result=-1

function ask() {
  const op1 = Math.floor(Math.random()*50)+ 1
  const op2 = Math.floor(Math.random()*50)+ 1
  const op3 = Math.floor(Math.random()*10)+ 1
  const op4 = Math.floor(Math.random()*10)+ 1
  const op5 = Math.floor(Math.random() * 51) + 50
  const op6 = Math.floor(Math.random()*50)+ 1
  const op7 = Math.floor(Math.random()*10)+ 1
  const op8 = Math.floor(Math.random()*10)+ 1
  result = op1 + op2
  result1 = op3 * op4
  result2 = op5 - op6
  result3a = op7 * op8
  result3 = result3a / op8
  var choose = [result,result1,result2,result3];
  var result4 = choose[Math.floor(Math.random() * choose.length)];
  if (result4 == result){
    document.getElementById('eq').innerHTML = (`${op1} + ${op2} = ?`); 
  }
  if (result4 == result1){
    document.getElementById('eq').innerHTML = (`${op3} x ${op4} = ?`); 
  }
  if (result4 == result2){
    document.getElementById('eq').innerHTML = (`${op5} - ${op6} = ?`); 
  }
  if (result4 == result3){
    document.getElementById('eq').innerHTML = (`${result3a} / ${op8} = ?`); 
  }
}
function handler(evt) {
  if (document.getElementById("answer").value == result ||
      document.getElementById("answer").value == result1||
      document.getElementById("answer").value == result2||
      document.getElementById("answer").value == result3){
    correct++
    document.getElementById('f').innerHTML =("correct!")
    document.getElementById('answer').value = ''
    
  if (Date.now()<end) ask()
  }
  
  else {
    error++
    document.getElementById('f').innerHTML =("wrong")
  }
}

//document.addEventListener("keyup", handler)

ask()

setTimeout(()=>{
    document.getElementById('q').innerHTML =(`${correct} correct and ${error} error`)
    var name = prompt(" Times up please enter your username (DO NOT USE YOUR REAL NAME)");
    var poop =(`${correct}${name}`);
const fs = require('fs')
  let data = "Learning how to write in a file."
  fs.writeFile('Output.txt', data, (err) => {
      if (err) throw err;
  })
  document.removeEventListener("keyup", handler)
}, duration)
    </script>


</body>
<body style="background-color:rgb(88, 88, 88);"></body>
  <style>
#mybutton:hover {
    background-color: rgb(156, 156, 156);
}
#answer
{
    height:100px;
    width:200px;
    font-size: 75px;
}
  </style>